@import url('https://fonts.googleapis.com/css2?family=Chivo:ital,wght@0,100..900;1,100..900&family=Noto+Sans+TC:wght@100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/*顏色相關*/
:root {
    --Primary-500: #477A11;
    --Primary-400: #57A203;
    --Primary-300: #C0FA73;
    --Primary-200: #E8FEC5;
    --Primary-100: #F5FEE7;

    --neutral-900: #212529;
    --neutral-800: #343A40;
    --neutral-700: #495057;
    --neutral-600: #6C757D;
    --neutral-500: #ADB5BD;
    --neutral-400: #CED4DA;
    --neutral-300: #DEE2E6;
    --neutral-200: #E9ECEF;
    --neutral-100: #F8F9FA;
    --neutral-0: #FFFFFF;

    --danger-300: #D74F4F;
    --danger-200: #EBA7A7;
    --danger-200: #FCF1F1;
}

.text-primary-400 {
    color: var(--Primary-400);
}

.text-danger-300 {
    color: var(--danger-300);
}

/*通用樣式*/
body {
    line-height: 1.5;
    color: var(--neutral-900);
    font-family: "Montserrat", "Noto Sans TC", sans-serif;
    letter-spacing: 0.05em;
}

a {
    display: block;
    text-decoration: none;
    color: var(--neutral-900);
}

a:hover {
    color: var(--neutral-600);
}

.container {
    margin: 0 auto;

}

.border-b {
    border-bottom: 1px solid var(--neutral-300);
}


/*按鈕*/
.btn {
    border-radius: 4px;
    padding: 12px 24px;
    font-weight: 500;
    cursor: pointer;
    border: none;
    background: transparent;
}

.btn-dark {
    background-color: var(--neutral-900);
    color: var(--neutral-0);
}

.btn-dark:hover {
    background-color: var(--neutral-700);
}

.btn-light {
    border: 1px solid var(--neutral-900);
}

.btn-light:hover {
    background-color: var(--neutral-900);
    color: var(--neutral-0);
}

/*背景*/
.bg-primary-200 {
    background: var(--Primary-200);
}

.bg-neutral-100 {
    background: var(--neutral-100);
}

/*格線系統相關*/
.row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -12px;
    margin-right: -12px;
}

.col-1 {
    padding-left: 12px;
    padding-right: 12px;
    width: calc(100%/12);
}

.col-2 {
    padding-left: 12px;
    padding-right: 12px;
    width: calc((100%/12)*2);
}

.col-3 {
    padding-left: 12px;
    padding-right: 12px;
    width: calc((100%/12)*3);
}

.col-4 {
    padding-left: 12px;
    padding-right: 12px;
    width: calc((100%/12)*4);
}

.col-5 {
    padding-left: 12px;
    padding-right: 12px;
    width: calc((100%/12)*5);
}

.col-6 {
    padding-left: 12px;
    padding-right: 12px;
    width: calc((100%/12)*6);
}

.col-7 {
    padding-left: 12px;
    padding-right: 12px;
    width: calc((100%/12)*7);
}

.col-8 {
    padding-left: 12px;
    padding-right: 12px;
    width: calc((100%/12)*8);
}

.col-9 {
    padding-left: 12px;
    padding-right: 12px;
    width: calc((100%/12)*9);
}

.col-10 {
    padding-left: 12px;
    padding-right: 12px;
    width: calc((100%/12)*10);
}

.col-11 {
    padding-left: 12px;
    padding-right: 12px;
    width: calc((100%/12)*11);
}

.col-12 {
    padding-left: 12px;
    padding-right: 12px;
    width: 100%;
}

/*flex相關*/

.d-flex {
    display: flex;
}

.justify-between {
    justify-content: space-between;
}

.justify-center {
    justify-content: center;
}

.align-center {
    align-items: center;
}

.flex-wrap {
    flex-wrap: wrap;
}

.gap-8 {
    gap: 8px;
}


/*文字大小*/
.fs-40 {
    font-size: 40px;
}

.fs-32 {
    font-size: 32px;
}

.fs-28 {
    font-size: 28px;
}

.fs-24 {
    font-size: 24px;
}

.fs-20 {
    font-size: 20px;
}

.fs-14 {
    font-size: 14px;
}

/*字重*/
.fw-700 {
    font-weight: 700;
}

.fw-500 {
    font-weight: 500;
}

/*行高*/
.title-lh {
    line-height: 1.2;
}

/*margin*/
.mr-auto {
    margin-right: auto;
}

.mb-4 {
    margin-bottom: 4px;
}

.me-8 {
    margin-right: 8px;
}

.mb-8 {
    margin-bottom: 8px;
}

.mb-12 {
    margin-bottom: 12px;
}

.me-12 {
    margin-right: 12px;
}

.mb-16 {
    margin-bottom: 16px;
}

.mb-24 {
    margin-bottom: 24px;
}

.me-24 {
    margin-right: 24px;
}

.mb-32 {
    margin-bottom: 32px;
}

.me-40 {
    margin-right: 40px;
}

.mb-48 {
    margin-bottom: 48px;
}

.me-48 {
    margin-right: 48px;
}

.mb-64 {
    margin-bottom: 64px;
}


/*padding*/
.py-7 {
    padding-top: 7px;
    padding-bottom: 7px;
}

.py-8 {
    padding-top: 8px;
    padding-bottom: 8px;
}

.py-12 {
    padding-top: 12px;
    padding-bottom: 12px;
}

.px-12 {
    padding-right: 12px;
    padding-left: 12px;
}

.p-12 {
    padding: 12px;
}

.py-16 {
    padding-top: 16px;
    padding-bottom: 16px;
}

.py-24 {
    padding-top: 24px;
    padding-bottom: 24px;
}

.pb-24 {
    padding-bottom: 24px;
}

.py-32 {
    padding-top: 32px;
    padding-bottom: 32px;
}

.py-48 {
    padding-top: 48px;
    padding-bottom: 48px;
}

.pt-64 {
    padding-top: 64px;
}

.pb-64 {
    padding-bottom: 64px;
}

.py-64 {
    padding-top: 64px;
    padding-bottom: 64px;
}

.pb-60 {
    padding-bottom: 60px;
}