.brand-story-header {
    background-image: url(../img/hero.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    text-align: center;
    padding: 151px 0;
    color: white;
}


.quote {
    text-align: center;
    border-radius: 4px;
}


.introduction .text {
    text-align: justify;
}


.course-line {
    border-left: 1px solid #212529;
    margin: 0 8px;

}

.main-item-line {
    border-right: 3px solid #DEE2E6;
    margin-right: 12px;
}


.story i {
    margin-right: 6.5px;
    width: 20px;
    height: 20px;
    color: var(--Primary-400);
    vertical-align: bottom;
}

.story a {
    text-decoration: underline;
    text-underline-offset: 4px;
    color: var(--Primary-400);
    padding: 8px 0;
}

.story a:hover {
    color: var(--Primary-500);
}