.container {
    margin: 0 auto;
}

.brand-story-header {
    background-image: url(../img/hero.png);
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    padding: 151px 0;
    color: white;
}

.brand-story-header .title {
    margin-bottom: 16px;
}

.brand-story-main {
    padding: 64px 0;
}


.quote-warp {
    margin: 0 auto;
    max-width: 856px;
    padding: 32px;
    margin-bottom: 48px;
}

.quote {
    text-align: center;
    background: #F5FEE7;
}

.quote .title {
    margin-bottom: 12px;
    color: var(--green-color);
}

.quote .text {
    display: flex;
    flex-direction: column;
    gap: 4px;
}


.brandStory-main {
    max-width: 856px;
    margin: 0 auto;
}

.warp-padding {
    padding: 48px 0;
}


.border-b {
    border-bottom: 1px solid#DEE2E6;
}

.introduction-pb {
    padding-bottom: 48px;
}

.introduction-img {
    max-width: 1076px;
    margin: 0 auto;
    margin-bottom: 24px;
}

.introduction .text {
    display: flex;
    flex-direction: column;
    gap: 16px;
    text-align: justify;
}

.introduction .subtitle {
    color: var(--green-color);
}

.main-item {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.course-line {
    border-left: 1px solid #212529;
    margin: 0 8px;

}

.main-item-line {
    border-right: 3px solid #DEE2E6;
    margin-right: 12px;
}


.story i {
    margin-right: 6.5px;
    width: 20px;
    height: 20px;
    color: var(--green-color);
    vertical-align: bottom;
}

.story a {
    text-decoration: underline;
    text-underline-offset: 4px;
    color: var(--green-color);
    padding: 8px 0;
}

.story a:hover {
    color: #477A11;
}



footer {
    background: #F8F9FA;
    color: #6C757D;
    padding: 64px 0;
    text-align: center;
}